@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

body {font-family: "Roboto slab", serif}

* {margin: 0;
padding: 0;}

.first.section { background-color: #1F2937;}

#header-logo {font-size: 24px; color: #f9faf8 ;}

.header-link { font-size: 16px; color: #E5E7eb; }


.navbar {display: flex; flex-direction: row;}


ul{display: flex; 
    flex-direction: row;
gap: 5rem;}

    
    .navbar-right,.navbar-left {display: flex;
width: 50%; }